page{
	.address_choose{
		.slot-wrap{
			margin-right: 30rpx;
		}
		.citybody{
			margin: 100rpx 0rpx 150rpx;
		}
		button{
			margin: 0rpx 75rpx;
			font-size: 36rpx;
			height: 90rpx;
			line-height: 90rpx;
			border-radius: 90rpx;
			background-color: #003399;
			color: #FFFFFF;
		}
	}
}